.profile-container ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.profile-container ul li {
    display: flex;
    justify-content: space-between;
}

.profile-container ul li span {
    font-weight: 600;
}